header {
    background-color: rgb(181, 92, 199);
    border-radius: 5px;
    border: 10px;
    height: 80px;
    display: flex;
    align-items: center;
}

.footer { 
    background-color: rgb(32, 29, 29);
    height: 12vw;
    border: 0px;
    margin: 0px; 
    color: azure;
    border-radius: 5px;
}
.menu {
    display: inline-block;
}

.menu-item {
    list-style: none;
    display: inline-block;
    color: azure;

}

.logo {
    display: inline-block;
    height: 60px;
    clip-path: circle(50%);
    margin-top: 1vh; 
    margin-left: 1vw;
    margin-right: 0px;

}

.cart {
    display: inline-block;
    height: 60px;
    padding-left: 70%;
}

.catalog_cl {
    height: 80vw;
    margin: 0px;  
}

.item-card {
    border-radius: 5px;
    width:50vw;
    margin: 0px 0px 0.5vh 0px;
}
